ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* src/global.scss */

.custom-loading {
  --background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  --color: white; /* Color del texto */
  --border-radius: 10px; /* Bordes redondeados para la superposición */
  font-size: 16px; /* Tamaño de fuente para el mensaje */
}

.custom-loading .loading-inner {
  display: flex; /* Usa flexbox para centrar el spinner */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}
