ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
}

ion-label[color="danger"] {
  color: var(--ion-color-danger);
  font-size: 12px;
}