.dashboard-content {
  --background: #f0f0f0; /* Cambia el fondo a un color gris claro */
}

ion-card {
  margin: 10px;
  --background: #ffffff; /* Fondo blanco para las tarjetas */
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-card-content p {
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--ion-color-primary);
}