<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a la Aplicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" routerLink="/form">Ir al Formulario</ion-button>
      <ion-button expand="full" routerLink="/login">Ir a Login</ion-button>
      <ion-button expand="full" routerLink="/folder/products">Ver Productos</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="takePicture()">Take Picture</ion-button>
  <img *ngIf="currentImage" [src]="currentImage" />

  <ion-button (click)="getCurrentLocation()">Get Current Location</ion-button>
  <div *ngIf="currentLocation">
    <p>Latitude: {{ currentLocation.latitude }}</p>
    <p>Longitude: {{ currentLocation.longitude }}</p>
  </div>

  <div *ngIf="weather">
    <p>Weather: {{ weather.weather[0].description }}</p>
    <p>Temperature: {{ weather.main.temp }} K</p>
  </div>

  <!-- Botón flotante de WhatsApp -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="openWhatsApp()">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>